#output {
  display: none;
}
.soften {
  font-family: 'Dosis', sans-serif;
  font-size: 1.2rem;
  text-align: justify;
}
.instructions {
  text-align: end;
}
h2 {
  margin-top: 10%;
}
body {
  font-family: 'Source Serif Pro', serif;
}
div.name-fields h2#reminder-to-scroll {
  margin-top: 0px;
  padding: 12 px;
  border: dotted double cornflowerblue;
}